/* Interview */

* {
	box-sizing: border-box;
}

body {
	background-color: #716d6d7a;
}
h1 {
font-size: 8em;
font-family: sans-serif;
color: red;
}
h2{
	font-family: sans-serif;
	font-size: 4em;
	color: red;
}
.square {
    width: 2em;
    height: 2em;
    background: red;
    cursor: pointer;
		position: relative;
		z-index: 1;
}

section {
	position: relative;
}


.q {
	position: absolute;
	top: 0;
	left: 2.5em;
	opacity: 0;
	transform: translateX(-50%);
	transition: all 0.5s;
}

section:hover .q, .view .q {
	opacity: 1;
	transform: translateX(0);
}

.a {
	height: 0;
	overflow: hidden;
	transition: all 0.5s;
	opacity: 0;
}

.view .a {
	height: auto;
	opacity: 1;
}
.q {
	font-family: sans-serif;
	font-style: oblique;
	font-size: x-large;
	color: #0e155d;
}
.a {
	font-family: sans-serif;
	color: white;
	font-size: 2em;
}
